body {
  background-color: rgb(2, 2, 15);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 70px;
}

.links > a {
  background-color: rgb(3, 155, 155);
  color: navy;
  font-size: 1.5rem;
  padding: 10px 16px;
  width: 45%;
  text-align: center;
  border-radius: 17px;
}

.links > a:hover {
  background-color: cyan;
  color: blue;
  border-bottom: 2px solid blue;
}

a:link {
  text-decoration: none;
}
